[! filter markdown|safe !]

<div class="default-flow warning-border-faded warning-background-faded2 default-padding default-radius">
<p>NOTE TO TERENCE: Hey there! I'm not sure when your
planning to start on your RFC. Wanted to pitch this 
before you dig in for possible ideas to consider. 
The content is 95% done. Needs a bit of clean up
and formatting, but it's solid enough to
look at. I can ping again when it's fully polished.</p>

<p>Updated: Sat Oct 25 09:46:24 EDT 2025</p>
</div>

<hr />

<p>
Terence Eden<sup><a href="#fn-te" id="fn-te-body">te</a></sup> wrote a
post<sup><a href="#fn-post" id="fn-post-body">post</a></sup> about using <code>.well-known</code> 
addresses<sup><a href="#fn-wka" id="fn-wka-body">wka</a></sup> for 
avatars and
asked for thoughts. 
</p>

<p>Terence had me at <code>.well-known</code> addresses. 
I love them. I think we should
build a new social network that uses
them to connect website via RSS feeds<sup><a href="#fn-vision" id="fn-vision-body">vision</a></sup>.
So, easy win there. The rest is details.</p>

<p>Here's where my head's at:</p>

[! endfilter !]
