<h2>Footnotes</h2>

<p>
  <a id="fn-te" href="#fn-te-body">te ⇑</a><br>
  <a href="https://shkspr.mobi/blog/">Terence Eden's Blog</a>
   - The site where this all kicked off.
</p>

<p>
  <a id="fn-post" href="#fn-post-body">post ⇑</a><br>
  <a href="https://shkspr.mobi/blog/2025/10/alpha-launch-well-known-avatar-feedback-wanted/">Alpha launch - .well-known/avatar - feedback wanted</a>
 - the latest in a series of posts exploring the idea of <code>.well-known/avatars</code>.
</p>

<p>
  <a id="fn-wka" href="#fn-wka-body">wka ⇑</a><br>
  <a href="https://en.wikipedia.org/wiki/Well-known_URI">Well-known URIs</a>
   - boils down to specific URLs you can go to on a site to check if they have a content package. If it's there, it should conform to a specificion for the URL.
</p>


<p>
  <a id="fn-vision" href="#fn-vision-body">vision ⇑</a><br>
  <a href="https://www.alanwsmith.com/en/2v/xa/cn/vj/?a-vision-for-the-web">A Vision for the Web</a> 
  - Top level question, what if added specifications for connecting website via RSS feeds? 
  It's still a draft. There's a possibility I was having a little bit of a manic episode
  when I wrote it, but I stand by it. It's something I'll be working on after I 
  finish <a href="https://bitty.alanwsmith.com/">bitty</a> for making pages
  interactive without frameworks (he says, doing a shameless plug).
</p>